<div class="seamless-drain-container container">
  <h1>{{ page.title }}</h1>


  <!-- {%- if section.settings.image-slide-1 -%}
    {%- assign image_slide_one = section.settings.image-slide-1| img_url: '1800x' -%}
  {%- else -%}
    {%- assign image_slide_one = 'blank.svg' | asset_url -%}
  {%- endif -%}

  {%- if section.settings.image-slide-2 -%}
    {%- assign image_slide_two = section.settings.image-slide-2| img_url: '1800x' -%}
  {%- else -%}
    {%- assign image_slide_two = 'blank.svg' | asset_url -%}
  {%- endif -%}

  {%- if section.settings.image-slide-3 -%}
    {%- assign image_slide_three = section.settings.image-slide-3| img_url: '1800x' -%}
  {%- else -%}
    {%- assign image_slide_three = 'blank.svg' | asset_url -%}
  {%- endif -%}

  {%- if section.settings.image-slide-4 -%}
    {%- assign image_slide_four = section.settings.image-slide-4| img_url: '1800x' -%}
  {%- else -%}
    {%- assign image_slide_four = 'blank.svg' | asset_url -%}
  {%- endif -%}

  {%- if section.settings.image-slide-5 -%}
    {%- assign image_slide_five = section.settings.image-slide-5| img_url: '1800x' -%}
  {%- else -%}
    {%- assign image_slide_five = 'blank.svg' | asset_url -%}
  {%- endif -%}

  <div class="review-carousel-wrapper">
    <div class="owl-carousel owl-theme owl-loaded owl-drag review-image-slider">
        <div class="item review-slide-1" style="background-image:url( {{ image_slide_one }}); background-position:center; background-repeat: no-repeat; background-size: cover;"></div>
        <div class="item review-slide-2" style="background-image:url( {{ image_slide_two }}); background-position:center; background-repeat: no-repeat; background-size: cover;"></div>
        <div class="item review-slide-3" style="background-image:url( {{ image_slide_three }}); background-position:center; background-repeat: no-repeat; background-size: cover;"></div>
        <div class="item review-slide-4" style="background-image:url( {{ image_slide_four }}); background-position:center; background-repeat: no-repeat; background-size: cover;"></div>
        <div class="item review-slide-5" style="background-image:url( {{ image_slide_five }}); background-position:center; background-repeat: no-repeat; background-size: cover;"></div>
    </div>
  </div>

<script type="text/javascript">
$(".owl-carousel").owlCarousel({
  lazyLoad:true,
  loop:true,
  autoplay:false,
  autoplayTimeout:8000,
  autoplayHoverPause:true,
  mouseDrag:true,
  touchDrag:true,
  singleItem: true,
  items : 1,
  pagination:false,
  itemsDesktop : true,
  itemsDesktopSmall : true,
  itemsTablet: true,
  nav:true,
  navText:["<div class='nav-btn prev-slide'><i class='fas fa-angle-left review-angle-left'></i></div>",
          "<div class='nav-btn next-slide'><i class='fas fa-angle-right review-angle-right'></i></div>"],
  dots: true
});
</script> -->
</div>

<div class="seamless-info-container container full-width">
{% for block in section.blocks %}
    {% case block.type %}

    {% when "image-and-text" %}

    {% if block.settings.seam-image-placement == "left" %}

      {%- if block.settings.image-item -%}
        {%- assign image_item = block.settings.image-item | img_url: '1800x' -%}
      {%- else -%}
        {%- assign image_item = 'blank.svg' | asset_url -%}
      {%- endif -%}

        <div class="image-and-text-container-seam">
          <div class="image-side-seam" style="background-image:url({{ image_item }}); background-position:center; background-repeat: no-repeat; background-size: cover;">

          </div>
          <div class="text-side-seam" style="background-color:{{ block.settings.background_color }};">
            <div class="seamless-text-content">
              <h4>{{ block.settings.seam-section-title }}</h4>
              <div class="seamless-description">
                {{ block.settings.seam-section-description }}
              </div>
            </div>
          </div>
        </div>


    {% elsif block.settings.seam-image-placement == "right" %}

    {%- if block.settings.image-item -%}
      {%- assign image_item = block.settings.image-item | img_url: '1800x' -%}
    {%- else -%}
      {%- assign image_item = 'blank.svg' | asset_url -%}
    {%- endif -%}

      <div class="image-and-text-container-seam image-and-text-container-seam-right">
        <div class="text-side-seam left-text-seam" style="background-color:{{ block.settings.background_color }};">
          <div class="seamless-text-content">
            <h4>{{ block.settings.seam-section-title }}</h4>
            <div class="seamless-description">
              {{ block.settings.seam-section-description }}
            </div>
          </div>
        </div>
        <div class="image-side-seam image-right-side-content" style="background-image:url({{ image_item }}); background-position:center; background-repeat: no-repeat; background-size: cover;">

        </div>
      </div>

    {% endif %}



  {% endcase %}
{% endfor %}
</div>

{% for block in section.blocks %}
    {% case block.type %}

    {% when "video-section" %}

    <div class="video-section-container">
      <div class="container full-width">
          <div class="videoWrapper">
              <iframe width="100%" height="349" src="{{ block.settings.video-url }}" frameborder="0" allowfullscreen allow="autoplay"></iframe>
          </div>
      </div>
    </div>

    <style media="screen">
      .mediaWrapper{
            position: unset !important;
      }
    </style>


    {% endcase %}
  {% endfor %}
<style>

  .custom-template{
    width: 100%;
    padding-top: 0px !important;
   }

</style>



{% schema %}
{
  "name": "Ledge page content",
  "settings": [
  {
    "type": "image_picker",
    "id": "image-slide-1",
    "label": "Image slider one"
  },
  {
    "type": "image_picker",
    "id": "image-slide-2",
    "label": "Image slider two"
  },
  {
    "type": "image_picker",
    "id": "image-slide-3",
    "label": "Image slider three"
  },
  {
    "type": "image_picker",
    "id": "image-slide-4",
    "label": "Image slider four"
  },
  {
    "type": "image_picker",
    "id": "image-slide-5",
    "label": "Image slider five"
  }
  ],
  "blocks": [
  {
    "type": "image-and-text",
    "name": "Image with Text",
    "settings": [
    {
     "type": "select",
     "id": "seam-image-placement",
     "options": [
      { "value": "left", "label": "image left text left"},
      { "value": "right", "label": "image right text left"}
     ],
     "label": "Image and text placement",
     "default":   "left"
    },
    {
      "type": "image_picker",
      "id": "image-item",
      "label": "Image and text"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#EBECE4"
    },
    {
     "type": "text",
     "id": "seam-section-title",
     "default": "TITLE",
     "label": "Section Title"
   },
   {
     "type": "richtext",
     "id": "seam-section-description",
     "label": "section Description",
     "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
   }

    ]
  },
  {
    "type": "video-section",
    "name": "Video section",
    "settings": [
    {
     "id": "video-url",
     "type": "text",
     "label": "Video Url"
    }
    ]
  }

  ],
  "presets": [
    {
      "name": "FAQ image slider",
      "category": "images"
    }
  ]
}
{% endschema %}
